@charset "UTF-8";

.body {
    position: relative;
}

.find_password_container {
    position: absolute;
    left: 0;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: none;
}

/* Find Passowrd */
/* TOP Title & Close Btn */
.find_password_container .top {
    height: 40px;
    background-color: #9B7F5B;
    line-height: 40px;
}

.find_password_container .top h2 {
    color: #FDFBFB;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 25px;
    float: left;
}

/* Close BTN */
.find_password_container .top .close_btn {
    float: right;
    cursor: pointer;
}

.find_password_container .top .close_btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

/* Find ID Form */
.find_password_container {
    background-color: #F1E3C4;
    background-color: #fff;
    width: 490px;
    height: 280px;
    margin: 0 auto;
    border: 5px solid #9B7F5B;
}

.find_password_container form {
    width: 440px;
    height: 150px;
    margin: 0 auto;
    background-color: #FBFBFB;
    padding: 20px 0;
    margin-top: 25px;
    border: 1px solid #ccc;
}

.find_password_container form div {
    width: 400px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    color: #8C8C8C;
}

.find_password_container form div h2 {
    width: 80px;
    font-size: 0.875rem;
    padding-top: 5px;
}

.find_password_container form div input {
    border: 1px solid #ccc;
}

.find_password_container .name_input {
    margin-bottom: 10px;
}

.find_password_container .name_input input {
    width: 145px;
}

.find_password_container .name_input input:first-of-type {
    margin-right: 10px;
}

.find_password_container .email_input {
    margin-bottom: 20px;
}

.find_password_container .email_input input {
    width: 300px;
}

.find_password_container .id_input {
    margin-bottom: 10px;
}

.find_password_container .id_input input {
    width: 300px;
}

.find_password_container form button {
    width: 70px;
    height: 30px;
    background-color: #3A3125;
    color: #CDC4A8;
    cursor: pointer;
    margin-left: 185px;
    margin-top: 30px;
}


/*-------------------------------------------------------------------------*/
.find_password_container123 {
    position: absolute;
    left: 0;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: block;
}

/* Find Passowrd */
/* TOP Title & Close Btn */
.find_password_container123 .top {
    height: 40px;
    background-color: #9B7F5B;
    line-height: 40px;
}

.find_password_container123 .top h2 {
    color: #FDFBFB;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 25px;
    float: left;
}

/* Close BTN */
.find_password_container123 .top .close_btn {
    float: right;
    cursor: pointer;
}

.find_password_container123 .top .close_btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

/* Find ID Form */
.find_password_container123 {
    background-color: #F1E3C4;
    background-color: #fff;
    width: 490px;
    height: 280px;
    margin: 0 auto;
    border: 5px solid #9B7F5B;
}

.find_password_container123 form {
    width: 440px;
    height: 150px;
    margin: 0 auto;
    background-color: #FBFBFB;
    padding: 20px 0;
    margin-top: 25px;
    border: 1px solid #ccc;
}

.find_password_container123 form div {
    width: 400px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    color: #8C8C8C;
}

.find_password_container123 form div h2 {
    width: 80px;
    font-size: 0.875rem;
    padding-top: 5px;
}

.find_password_container123 form div input {
    border: 1px solid #ccc;
}

.find_password_container123 .name_input {
    margin-bottom: 10px;
}

.find_password_container123 .name_input input {
    width: 145px;
}

.find_password_container123 .name_input input:first-of-type {
    margin-right: 10px;
}

.find_password_container123 .email_input {
    margin-bottom: 20px;
}

.find_password_container123 .email_input input {
    width: 300px;
}

.find_password_container123 .id_input {
    margin-bottom: 10px;
}

.find_password_container123 .id_input input {
    width: 300px;
}

.find_password_container123 form button {
    width: 70px;
    height: 30px;
    background-color: #3A3125;
    color: #CDC4A8;
    cursor: pointer;
    margin-left: 185px;
    margin-top: 30px;
}

/* 비밀번호조회 결과출력 모달 ------------------------------------------------------------------- */
.find_password_container123 .find_pwd_result_ok {
    width: 440px;
    height: 140px;
    margin: 0 auto;
    background-color: #FBFBFB;
    padding: 20px 0;
    margin-top: 25px;
    border: 1px solid #ccc;
}
.find_password_container123 button {
    width: 120px;
    height: 30px;
    background-color: #3A3125;
    color: #CDC4A8;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 17px;
}
.find_password_container123 h1 {
	text-align: center;
	font-size: 22px;
    color: #432c10;
    font-weight: 500;
    line-height: 100px;
}
.find_password_container123 h1 span {
    color: #1b1b1b;
    font-weight: bold;
}
.find_password_container123 .find_pwd_result_no {
    width: 440px;
    height: 140px;
    margin: 0 auto;
    background-color: #FBFBFB;
    padding: 20px 0;
    margin-top: 25px;
    border: 1px solid #ccc;
}
/* ------------------------------------------------------------------- */
