@charset "UTF-8";
/* @import url(./shilla_login_effect.css); */
@import url(./shilla_find_id.css);
@import url(./shilla_find_password.css);

body {
  height: 923px;
  font-family: "Noto Sans KR" sans-serif;
  /* background-image: url(../img/shill_bg.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}


.w800{
  width: 800px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
}

/* Login title */
.login_title{
  margin-top: 100px;
  border-bottom: 5px solid #432C10;
  padding-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.login_title h2{
  /* font-size: 2rem; */
  font-weight: 500;
  color: #9F876B;
  float: left;
  font-size: 1.66666666666667vw;
}
.login_title .page_info{
  margin-top: 20px;
  font-size: 0.7291666666666666vw;
  font-size:  0.78125vw;
 
}
.login_title .page_info span{
  color: #432C10;
  border-bottom: 1px solid #432C10;
  font-size:  0.78125vw;
}
/* Login Container */
.login_container {
  background-color: #F1E3C4;
  width: 600px;
  margin: 0 auto;
  /* margin-top: 300px; */
  padding-top: 50px;
  margin-top: 10px;
  margin-bottom: 200px;
  position: relative;
  z-index: 1;
}

/* Lgoin Title */
.login_container>h2 {
  width: 90%;
  margin-left: 5%;
  font-size: 1.875rem;
  padding-bottom: 30px;
  padding-top: 15px;
  color: #432C10;
}

/* 수정v1.1.5에 따른 추가 회원가입 아이디, 비밀번호 찾기 호버시 마우스 커서 pointer로*/
.find_and_join div{
  cursor: pointer;
}

/* Login Text */
.login_text {
  width: 90%;
  margin-left: 5%;
  padding-top: 50px;
  /* border-top: 3px solid #432C10; */
  padding-bottom: 20px;
  text-align: center;
}

.login_text h2 {
  color: #432C10;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.login_text p {
  color: #878787;
  font-size: 0.875rem;
  line-height: 20px;
}

.login_container span {
  font-weight: 700;
}

/* Login Form */
#login_form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.id_input h2 {
  font-size: 1.25rem;
}

.login_container input {
  width: 300px;
  height: 25px;
  /* border: 2px solid #432C10; */
  border-radius: 3px;
  margin-bottom: 10px;
}

/* input container */
.input_container {
  display: flex;
  flex-flow: column nowrap;
}

/* 로그인  버튼*/
.login_container button {
  width: 110px;
  height: 60px;
  background-color: #432C10;
  border-radius: 3px;
  color: #F1E3C4;
  font-weight: 550;
  font-size: 1rem;
  margin-left: 30px;
  cursor: pointer;
}

/* User Find Btn & Join Btn */
.find_and_join {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 30px 0;
}

.find_id_btn,
.find_password_btn,
.user_join_btn {
  width: 140px;
  height: 30px;
  background-color: #9F876B;
  color: #F4F1C4;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}

.find_id_btn {
  margin-left: 0;
}

/* 24.09.02추가 로그인 페이지 모든 input칸 패딩 적용 */
input {
  padding-left: 10px;
}